

body {
    padding-top: 54px;
  }


  body {
    /* The background image */
    background-image: url("../images/b.jpg");
    /* Set a specified height, or the minimum height for the background image */
    min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

.row-grid {
    margin-top: 100px;
}


.navbar-custom  {
    color: white;
    display: block;
    font-size: 32px;
    background: grey;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
