
  body {
    padding-top: 54px;
    background-image: url("../images/b.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
    font-size: 32px;
    text-align: center;
}

.row-grid {
    margin-top: 100px;
}

.navbar-custom  {
    color: white;
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 15px;
    line-height: 15px;
}
.navbar-brand {
    font-size: 30px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* #guessedLetters {
    color: red;
} */

.card-red {
    color: red;
}

#display {
    background: white;
    color: black;
}

#resetGame {
    font-size: 20px;
    color: grey;
}